.card {
  background-color: aquamarine;
  width: 20rem;
  height: 22rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}

img {
  width: 70%;
  height: 70%;
}

.wrapperText {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.name {
  font-size: 22px;
}

.details {
  width: 100%;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h3 {
  font-size: 14px;
}
