.button {
  border-width: 1px;
  border-color: #39ff14;
  background-color: #08bae3;
}

.text {
  color: beige;

  @font-face {
    font-family: "Get Schwifty";
    src: url("D:\Código\SoyHenry\rick_and_morty\font\get-schwifty.zip");
  }
}
